/*Ejercicio1*/
.cabecera1{
    text-align: center;
    color:red;
    position: absolute;
    top: 100px;
    left: 200px;
}

/*Ejercicio2*/
.cabecera2a, .parrafo2a, .parrafo2a1{
    margin-left:50px;
}

.parrafo2a1{
    border:3px solid green;
    position: static;
}

.parrafo2b1{
    border:3px solid green;
    position: relative;
    left: 20px;
}
/*Ejercicio 3*/
.parrafo3a{
    border:3px solid green;
    height: 150px;
    width: 400px;
    position: relative;
}

.parrafo3a .parrafo3b{
    position: absolute;
    left: 200px;
    top: 60px;
    border:3px solid green;
    height: 70px;
}

/*Ejercicio 4*/
.sticky{
    background-color: aquamarine;
    border:3px solid rgb(77, 232, 243);
    position: sticky;
    bottom: 0;
}

/*Ejercicio 5*/
.position img{
    opacity: 30%;
    position: absolute;
}

.position p{
    position: absolute;
    z-index: 1;
    font-size: 2em;
}